.form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    padding: 25px;
    width: 50%;
    margin-left: 400px;
    gap: 10px; 
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(3,0,222,1) 0%, rgba(0,255,29,1) 0%, rgba(8,3,113,1) 0%, rgba(0,0,0,1) 95%);;
    border-radius: 8px;
    border: 1px solid;
}
.form span{
    color: var(--texto-pagina);
    margin-bottom: 25px;
    font-weight:600 ;
    font-size:25px ;
}
.form__label{
     color:var(--texto-pagina) ;
     font-weight: 600;
     font-size: 15px;
}
.form input{
    border-radius: 8px;
    border: 1px solid;
    width: 35%;
    padding: 5px;
}